{
  "extends": "airbnb",
  "rules":{
    "func-names":["error", "never"],
    "linebreak-style":0,
    "react/jsx-filename-extension":0,
    "react/forbid-prop-types": 0,
    "react/prop-types": 0
  }
}